<div class="px-4 py-5 chat-box bg-white">
  <router-outlet></router-outlet>
</div>

<form (ngSubmit)="sendMessage(f)" #f="ngForm" class="bg-light">
  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="message.message"
      name="message"
      required
      placeholder="Type a message"
      class="form-control rounded-0 border-0 py-4 bg-light"
    />
    <div class="input-group-append">
      <button type="submit" class="btn btn-link">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </div>
</form>
