<div class="container py-3 px-4 animated fadeInUp">
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">
        <div class="row bg-gray px-4 py-2 bg-light">
          <div class="col text-muted">
            <p *ngIf="!showUsers" class="h5 mb-0 py-1">
              Recientes
            </p>
            <p *ngIf="showUsers" class="h5 mb-0 py-1">
              Usuarios
            </p>
          </div>
          <div class="col align-self-center puntero">
            <a (click)="switchView()"
              ><i
                *ngIf="!showUsers"
                class="fas fa-plus text-muted float-right"
              ></i>
              <i
                *ngIf="showUsers"
                class="fas fa-comments text-muted float-right"
              ></i>
            </a>
          </div>
          <div class="col align-self-center">
            <button (click)="logout()" class="btn btn-link float-right">
              <i class="fas fa-sign-out-alt text-danger"></i>
            </button>
          </div>
        </div>
        <div class="messages-box">
          <div class="list-group rounded-0">
            <!-- Recents conversations -->
            <div class="animated fadeInLeft fast" *ngIf="!showUsers">
              <app-conversation
                (thisConversation)="onLoadChat($event)"
                *ngFor="let conversation of conversations"
                [conversation]="conversation"
              ></app-conversation>
            </div>
            <div class="animated fadeInRight fast" *ngIf="showUsers">
              <app-user
                (thisUserUid)="onCreateConversation($event)"
                *ngFor="let user of users"
                [user]="user"
                [uid]="currentUser.uid"
              ></app-user>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->
        <app-message
          class="animated fadeInUp fast"
          [uid]="currentUser.uid"
          *ngFor="let message of messages"
          [message]="message"
        ></app-message>
      </div>

      <!-- Typing area -->
      <app-send-message-form></app-send-message-form>
    </div>
  </div>
</div>
